@model IEnumerable<Hospital_Management_System.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.ActionLink("Home", "", "home") |
@Html.ActionLink("Doctors", "", "doctors") |
@Html.ActionLink("Patients", "", "patients") |
@Html.ActionLink("Visits", "", "visits")

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfVisit)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                    @Html.ActionLink(item.Doctor?.Name, "Details", "Doctors", new { id = item.Doctor.DoctorID })
            </td>
            <td>
                    @Html.ActionLink(item.Patient?.Name, "Details", "Patients", new { id = item.Patient.PatientID })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
