@model IEnumerable<Hospital_Management_System.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.ActionLink("Home", "", "home") |
@Html.ActionLink("Doctors", "", "doctors") |
@Html.ActionLink("Patients", "", "patients") |
@Html.ActionLink("Visits", "", "visits")

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                    @Html.ActionLink(item.Doctor?.Name, "Details", "Doctors", new { id = item.Doctor.DoctorID })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
